

<%= @game.player_1.name %> v <%= @game.player_2.name %>


<%= @game.player_2.name %>:  <%= @game.player_2.hitpoints %> HP

<form action= '/attack1'>
  <input type='submit' value='ATTACK!'/>
</form>
